<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link rel="stylesheet" href=" {{url_for('static', filename='style.css')}} ">
    <link rel="icon" type="image/png" href="{{ json['current']['condition']['icon'] }}" />
    <script src=" {{url_for('static', filename='location.js')}} "></script>
    <script src=" {{url_for('static', filename='main.js')}} "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<class="header" id="header">
    <span class="centre", style="width: 100%; font-size: 5vh; top:2vh; color: var(--background_color);">
        {% if json['alerts']['alert'] != [] %}
            {{ json['alerts']['alert']['headline'] }}
        {% else %}
            Weather
        {% endif %}
    </span>
    <span class="centre" style="width: 100%; font-size: 6vh; top: 7vh; text-align: left; color: var(--background_color);">
        {{ json['location']['name'] }}
    </span>
    <span class="centre" style="width: 100%; font-size: 3vh; top: 11vh; text-align: left; color: var(--background_color);">
        {{ json['location']['region'] }}({{ json['location']['country'] }})
    </span>     
    <span class="centre" style="width: 100%; font-size: 5vh; top: 18vh; text-align: left; color: var(--background_color);">
        <img style="float: left; margin-top: -6px;" src="{{ json['current']['condition']['icon'] }}" alt="{{ json['current']['condition']['text'] }}">
        {{ json['current']['temp_c'] }} °C
    </span>
    <span id="feelslike_c" class="centre" style="width: 100%; font-size: 2vh; top: 23vh; left: 200px; text-align: left; color: var(--background_color); ">
        Feels Like: {{ json['current']['feelslike_c'] }} °C <br>
        <img id="wind_dir" src="https://static.vecteezy.com/system/resources/previews/016/770/600/non_2x/red-directional-arrow-on-transparent-background-free-png.png" alt="{{ json['current']['wind_dir'] }}" style="top: 1px;" height="16px" width="16px">
        {{ json['current']['wind_kph'] }} KPH 
        <img id="uv_index" src=" {{url_for('static', filename='uv-index.512x512.png')}} " alt="{{ json['current']['uv'] }}" style="top: 1px;" height="16px" width="16px">
        {{ json['current']['uv'] }} 
    </span>
</header>
<body>
</body>
</html>